html,
body {
  margin: 0;
  height: 100%;
}
body {
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none !important;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.react-swipeable-view-container {
  height: 100%;
}
